<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
      <% @headers.each do |h| %>
        <th scope="col"><%= h %></th>
      <% end %>
      </tr>
    </thead>
    <tbody>
      <% @data.each do |d| %>
        <tr>
          <% @headers.each do |h| %>
            <td><%= d[h] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>