<div class="main main-raised" style="margin: 0 30px 0 30px">
  <div class="section" style="padding-top: 35px">
    <div class="container">
      <div class="title">
        <h2 class="title">2020</h2>
      </div>
      <p>It hasn't been a good year at all. COVID-19 has taken so many lifes away with so many governments in Latin America not taking enough actions to protect their people at least until a vaccine is developed. But now is time to fight back this disease, and it always comes up to us, the normal people, to stand up for ourselves.</p>
      <p>The first goal of &copy;fightback is to support projects that will protect our health professionals. The lack of supplies like N95 masks, gloves, face shields, respirators, disposable aprons or even just soap has resulted in thousands of health professionals dying by this disease in Latin America. Health professionals are our first line of defense. If governments are not willing to protect them, then we will. This platform will let you donate to one of many projects that aim to fightback this and other diseases.</p>
      <p>Be part of this movement and prove that humanity deserves another chance.</p>
    </div>
  </div>
  <div class="section" style="padding-top: 35px">
    <div class="container">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mg3Us2cYXq8?controls=0" frameborder="0" allow="autoplay; modestbranding; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!--https://www.youtube.com/embed/Y1g6oKP2-vU-->
      </div>
    </div>
  </div>
</div>