<div class="main main-raised" style="margin: 0 30px 0 30px">
  <div class="section" style="padding-top: 0px">
    <div class="container">
      <div class="title">
        <div class="row">
          <div class="col-6"><h2 class="title" style="margin-bottom:0px;">New Project</h2></div>
          <div class="col-6 d-flex justify-content-end align-items-end">
            <%= link_to 'Back', projects_path, class: 'btn btn-info' %>
          </div>
        </div>
      </div>
      <%= render 'form', project: @project %>
    </div>
  </div>
</div>