<% if notice or alert %>
	<div class='alert alert-<%= notice ? 'info' : 'warning' %>'>
		<%= notice ? notice : alert %>
		<button class='close' role='button' data-dismiss='alert'>&times;</button>
	</div>
<% elsif flash[:notice] or flash[:alert] %>
	<div class='alert alert-<%= flash[:notice] ? 'info' : 'warning' %>'>
		<%= notice ? notice : alert %>
		<button class='close' role='button' data-dismiss='alert'>&times;</button>
	</div>
<% end %>